<a href="https://colab.research.google.com/github/chebbin/flask_e2e_project/blob/main/db/sqlalchemy_inc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [17]:
df = pd.read_csv('/content/New_York_City_Leading_Causes_of_Death_20231206.csv')

In [18]:
df.columns

Index(['Year', 'Leading Cause', 'Sex', 'Race Ethnicity', 'Deaths',
       'Death Rate', 'Age Adjusted Death Rate'],
      dtype='object')

In [ ]:
# remove white space
df.columns = df.columns.str.replace(' ', '_')
df.columns

In [20]:
engine = create_engine('sqlite:///database.db')
df.to_sql('table_name', engine, if_exists='replace', index=False)

1803

In [26]:
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

cursor.execute("""CREATE TABLE cause_of_death (
                  year INTEGER PRIMARY KEY,
                  Leading_Cause TEXT,
                  Sex TEXT,
                  Race_Ethnicity TEXT
                  Deaths TEXT
                  Death_Rate TEXT
                  Age_Adjusted_Death_Rate TEXT
                  )""")
conn.close()

In [30]:
sql = "SELECT Leading_Cause, Sex, Race_Ethnicity FROM cause_of_death"
df = pd.read_sql(sql, engine)

print(df.head())

AttributeError: ignored

In [29]:
result = engine.execute("SELECT Sex, Leading_Cause FROM cause_of_death WHERE Race_Ethnicity='Hispanic'")

for row in result:
    print(row.Sex, row.Leading_Cause)

AttributeError: ignored